extends layout

block scripts
  script(src="/javascripts/index.js")

block content
    if (!user) 
        h4 Please log in
    else
        h1 You are renting the following grills
        each grill in rented_grills
            h3 #{grill.name}
            button(onclick=`openGrillBox("${grill.name}")`) Open
    
        h4 Please rent the grill to open the box
        h4 The price is 5DKK
        button(id="checkout-button") Pay