extends layout

block scripts
  script(src="/javascripts/index.js")

block content
    if (!user) 
        h4 Please log in
    else
        if (rented_grill)
            h4 #{rented_grill.name}
            button(onclick=`openGrillBox("${rented_grill.name}")`) Open
            button(onclick=`releaseGrill("${rented_grill.name}")`) Release
        else 
            h4 Please rent the grill. The price is 5DKK.
            button(id="checkout-button") Pay