extends layout

block scripts
  script(src="/javascripts/index.js")

block content
    h1 The grill is available for use
    - if(!user) 
        h4 Please log in
    if(user)
        - if(user.isRentingGrill)
            button Open box
        - else
            h4 Please rent the grill to open the box
            h4 The price is 1kr
            button#checkout-button Pay