extends layout

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js')
  script(src='javascripts/index.js')

block content
  button(onclick = "publish('dk.daniakollegiet.markgrill/pi/led/17', 'TOGGLE')") Toggle LED
