extends layout

block scripts

block content
    h1 Please log in
    form(action="/", method="GET")
        //label(for="tel") Phone number
        //input#tel(type="tel", name="tel", placeholder="12345678")

        lable(for="email") E-mail
        input(type="email", id="email", name="email", placeholder="JohnDoe@example.com")  

        input(type="submit")
