doctype html
html
  head
    title Dania
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
    
  body
    block header 
      if(user)
        h1 Hello #{user.id}
        a(href="/logout") Logout
      else
        a(href="/login") Login

    a(href="/users") Users

    block content
