doctype html
html
  head
    title= title || "Dania"

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://js.stripe.com/v3/") <!-- Included on all pages for fraud detection -->
    block scripts
    
  body
    block header 
      if(user)
        a(href="/logout") Logout
        a(href="/users") Users
        h1 Hello #{user.username}
        
      else
        a(href="/login") Login
        a(href="/users") Users

      
    block content