extends layout

block content
    h1 Login or create new user
    form(action="/login", method = "POST")
        if(message) 
            h4 #{message}
        lable(for="username") Please enter a unique username
        input(name = "username" type = "text" required placeholder = "John Doe" autofocus)
        button(type = "Submit") Login/Signup