html
  head
    title= title
    script.
       function foo(){document.getElementById("demo").innerHTML = "Hello JavaScript!";}
       function greet(){alert("Hello world");}
  body
    h1#demo= message

    button#btn(
      onclick='greet()'
    )
     LED ON
