extends layout

block scripts
  script(src="https://js.stripe.com/v3/")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js')
  script(src='javascripts/test.js')

block content
  button Toggle LED
  br

  a(href="/id") id
  br

